@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Stratum2';
  src: url('./fonts/Stratum2.ttf');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'Verdana';
  src: url('./fonts/Verdana.ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Verdanab';
  src: url('./fonts/Verdanab.ttf');
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
